<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個人資訊</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }
        
        h1 {
            text-align: center;
            margin-top: 50px;
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        
        label {
            margin-bottom: 10px;
        }
        
        input[type="text"],
        input[type="password"] {
            padding: 8px;
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            width: 250px;
        }
        
        button {
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 4px;
            background-color: #4caf50;
            color: #fff;
            border: none;
            cursor: pointer;
            margin-top: 10px;
        }
        
        button:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>
    <h1>個人資訊</h1>
    <form action="/api/edit" method="post">
        <label for="nick_name">暱稱:<%= user_info.name %></label>
        <br>
        <label for="user_account" id="user_account" name="user_account" >帳號:</label>
        <input type="text" id="user_account" name="user_account" value="<%= user_info.user_account %>" required>
        <br>
        <label for="old_password">舊密碼:</label>
        <input type="password" id="old_password" name="old_password" required>
        <br>
        <label for="password">密碼:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="check_password">確認密碼:</label>
        <input type="password" id="check_password" name="check_password" required>
        <br>
        <button type="submit">修改</button>
    </form>
    <form action="/api/chart" method="get">
        <button type="submit">回聊天室</button>
    </form>
    <form action="/api/logout" method="get">
        <button type="submit">登出</button>
    </form>
</body>
</html>