<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>註冊</h1>
    <form id="registerForm">
      <label for="registerUsername">使用者名稱:</label>
      <input type="text" id="registerUsername" name="username" required>
      <br>
      <label for="registerPassword">密碼:</label>
      <input type="password" id="registerPassword" name="password" required>
      <br>
      <button type="submit">註冊</button>
    </form>
</body>
</html>